.projects__btn {
  padding: 56px 119px;
  display: inline-block;
  border: 1px solid #1bff07;
  border-radius: 10px;
  line-height: 39px;
  font-size: 30px;
  color: #000;
  background: #1bff07;
}

.projects__btn_hover:hover {
  background: none;
  border: 1px solid #1bff07;
  color: #1bff07;
}

.contacts__btn {
  padding: 20px 166px;
  display: block;
  border-radius: 10px;
  background: #1bff07;
  font-size: 22px;
  line-height: 28.6px;
}

@media (max-width: 1199px) {
  .projects__btn {
    padding: 45px 91px;
    font-size: 24.26px;
    line-height: 31.54px;
  }

  .contacts__btn {
    padding: 13px 112px;
    font-size: 16px;
    line-height: 20.8px;
  }
}

@media (max-width: 767px) {
  .projects__btn {
    padding: 28px 40px;
    text-align: center;
    width: 100%;
    display: block;
    font-size: 18px;
    line-height: 23.4px;
  }

  .contacts__btn {
    padding: 12px 0;
    width: 100%;
    max-width: 353px;
  }
}
