.contacts {
  margin-bottom: 10px;
  padding: 100px 0 100px 50px;
  position: relative;
  height: 717px;
  max-width: 100%;
  background-image: url(../resources/contacts/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  border-radius: 30px;
}

.contacts__title {
  max-width: 553px;
  margin-bottom: 60px;
  font-size: 60px;
  line-height: 60px;
}

.contacts__list {
  margin-bottom: 60px;
}

.contacts__item {
  max-width: 567px;
  border-radius: 30px;
  overflow: hidden;
}

.contacts__item:not(:last-child) {
  margin-bottom: 26px;
}

.contacts__input {
  width: 100%;
  padding: 16px 0 16px 40px;
  display: block;
  font-size: 16px;
  line-height: 20.8px;
  color: #fff;
  background: #3b3d3b;
}

.contacts__input::placeholder {
  color: #fff;
}

@media (max-width: 1199px) {
  .contacts {
    height: 100%;
    padding: 51px 0 86px 37px;
  }

  .contacts__list {
    margin-bottom: 40px;
  }

  .contacts__item {
    max-width: 383px;
  }

  .contacts__input {
    padding: 10px 0 10px 24px;
    font-size: 16px;
    line-height: 20.8px;
  }

  .contacts__title {
    margin-bottom: 40px;
    max-width: 373px;
    font-size: 40px;
    line-height: 40.5px;
  }

  .contacts__item:not(:last-child) {
    margin-bottom: 17px;
  }
}

@media (max-width: 767px) {
  .contacts {
    padding: 50px 0 50px 0;
    background: #191c19;
  }

  .contacts__title {
    max-width: 310px;
    margin-bottom: 40px;
    font-size: 35px;
    line-height: 60px;
    line-height: 37.33px;
  }

  .contacts__item {
    max-width: 353px;
  }

  .contacts__item:not(:last-child) {
    margin-bottom: 15px;
  }

  .contacts__input {
    padding: 10px 0 8px 21px;
    font-size: 15px;
    line-height: 19.5px;
  }
}
