@import "header.css";
@import "burger.css";
@import "projects.css";
@import "competencies.css";
@import "tasks.css";
@import "contacts.css";
@import "footer.css";
@import "buttons.css";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "IBM Plex Mono", monospace;
  font-style: normal;
  background: #000;
}

.body_fixed {
  overflow: hidden;
}

h2 {
  font-size: 55px;
  line-height: 71.5px;
}

h3 {
  font-size: 35px;
  line-height: 45.5px;
}

h1,
h2,
h3,
p,
a,
span,
div {
  font-weight: 400;
  letter-spacing: -0.03em;
  color: #fff;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

input {
  outline: none;
  border: none;
}

input:focus::placeholder {
  color: transparent;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  width: 130px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
}

.logo__text {
  height: 55px;
  width: 109px;
  text-transform: uppercase;
  font-size: 42.41px;
  font-weight: 700;
  line-height: 55.14px;
  letter-spacing: -0.11em;
  color: #1bff07;
}

@media (max-width: 1199px) {
  h2 {
    font-size: 45px;
    line-height: 58.5px;
  }

  h3 {
    font-size: 28px;
    line-height: 36.4px;
  }
}

@media (max-width: 767px) {
  h2 {
    font-size: 30px;
    line-height: 39px;
  }
}
