.tasks {
  padding-bottom: 150px;
}

.tasks__list {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.tasks__title {
  max-width: 403px;
  margin-bottom: 80px;
  font-size: 35px;
  line-height: 45.5px;
}

.tasks__item-media {
  height: 200px;
  border-radius: 30px;
  overflow: hidden;
}

.tasks__item-img {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}

.tasks__item-content {
  min-height: 283px;
  padding: 40px 40px 60px 40px;
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
  border-radius: 30px;
  background: #191c19;
}

.tasks__item-title {
  max-width: 470px;
  font-size: 55px;
  line-height: 60.5px;
  color: #1bff07;
}

.tasks__item-description {
  max-width: 525px;
  font-size: 22px;
  line-height: 28.6px;
  color: #fff;
}

@media (max-width: 1199px) {
  .tasks {
    padding-bottom: 110px;
  }

  .tasks__list {
    row-gap: 32px;
  }

  .tasks__title {
    margin-bottom: 52px;
    max-width: 326px;
    font-size: 28.3px;
    line-height: 36.8px;
  }

  .tasks__item-media {
    height: 162px;
  }

  .tasks__item-content {
    min-height: 229px;
    padding: 32px 32px 47px 32px;
    column-gap: 57px;
  }

  .tasks__item-title {
    max-width: 380px;
    font-size: 45px;
    line-height: 49.5px;
  }

  .tasks__item-description {
    max-width: 425px;
    font-size: 18px;
    line-height: 23.4px;
  }
}

@media (max-width: 767px) {
  .tasks {
    padding-bottom: 100px;
  }

  .tasks__list {
    row-gap: 60px;
  }

  .tasks__item-media {
    height: 225px;
  }

  .tasks__item-content {
    padding: 30px 21px 58px 21px;
    flex-direction: column;
  }

  .tasks__item:last-child .tasks__item-media {
    height: 162px;
  }

  .tasks__item-title {
    margin-bottom: 15px;
    max-width: 304px;
    font-size: 35px;
    line-height: 38.5px;
  }

  .tasks__item-description {
    font-size: 18px;
    line-height: 23.4px;
  }
}
